<<<<<<< HEAD
=======

>>>>>>> 5d4f840b2e4d7c3a5c734d4b8a83f9f97e0a9d81
.i-icofont-linkedin:before {
   
    font-size: xxx-large;
    position: fixed;
    right: 34px;
    top: 90vh;
}

.i-icofont-youtube-play:before {
   
    font-size: xxx-large;
    position: fixed;
    right: 34px;
    top: 90vh;
}

.i-icofont-facebook:before {
    
    font-size: xxx-large;
    position: fixed;
    right: 34px;
    top: 90vh;
}

.i-icofont-ebuddy:before {
  
    font-size: xxx-large;
    position: fixed;
    right: 34px;
    top: 90vh;
}

.i-icofont-instagram:before {
    
    font-size: xxx-large;
    position: fixed;
    right: 34px;
    top: 90vh;
<<<<<<< HEAD
}
=======
}
>>>>>>> 5d4f840b2e4d7c3a5c734d4b8a83f9f97e0a9d81
