
.i-icofont-linkedin:before {
   
    font-size: xxx-large;
    position: fixed;
    right: 34px;
    top: 90vh;
}

.i-icofont-youtube-play:before {
   
    font-size: xxx-large;
    position: fixed;
    right: 34px;
    top: 90vh;
}

.i-icofont-facebook:before {
    
    font-size: xxx-large;
    position: fixed;
    right: 34px;
    top: 90vh;
}

.i-icofont-ebuddy:before {
  
    font-size: xxx-large;
    position: fixed;
    right: 34px;
    top: 90vh;
}

.i-icofont-instagram:before {
    
    font-size: xxx-large;
    position: fixed;
    right: 34px;
    top: 90vh;
}
