.player-thumb-2 img {
    transition: all .9s linear;
    height: 187px;
}

@media (min-width: 300px) and (max-width: 768px) {
    .player-item-2{
        display: none;
    }
}

/* @media (min-width: 300px) and (max-width: 768px) {
    .section-header p,h2{
        display: none;
    }
}
 */



