.coming-soon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40%;
    height: 300px;
    width: 400px;
    z-index: 2;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #c3c3c352;
    color: black;
}